<div class="row filter-wrapper">
  <div class="col-12">
    <form class="form-inline" [formGroup]="filterForm">
      <input type="text"
             class="form-control mb-2 mr-sm-2 mb-sm-0"
             formControlName="query"
             id="search"
             placeholder="search by {{filterForm.controls['category'].value}}">
      <select title="select category"  class="custom-select" formControlName="category">
        <option *ngFor="let c of category" [ngValue]="c.type">{{c.type}}</option>
      </select>
    </form>
  </div>
</div>
